<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="qui-som-link" data-hook><%= link_to t("qui-som"), spree.static_pages_qui_som_path %></li>
    <li id="ecologico-link" data-hook><%= link_to t("ecologico"), spree.static_pages_ecologico_path %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav>
